@import url('https://fonts.googleapis.com/css?family=Work+Sans:600');

html, body {
  font-size: 18px;
  //color: $def;
  font-weight: 400;
  font-family: $f-def;
  overflow-x: hidden;
  @include gradientX(#ea8c5c, #e9d269);
}

#root {
  padding: 50px 0;
}

.box-shadow {
  box-shadow: 0 0 70px 0 rgba(255, 255, 255, 0.75);
}

.bg {
  &--white {
    background-color: #fff;
  }
  &--gray {
    background-color: #333;
  }
}

.container {
  width: 1140px;
  padding: 0;
  @include max (1140) {
    width: 100%;
    padding: 0 15px;
  }
}

input {
  padding: 10px;
  border-bottom: 2px solid #fff;
  margin-top: 10px;
  font-family: $f-def;
  background: transparent;
  color: $col-white;
}

input[placeholder] {
  font-family: $f-def;

}

.left-panel {
  background: url("../img/bg-left.jpg") 50% 100% / cover no-repeat;
  min-height: 800px;
}
