.btn {
  color: #fff;
  line-height: 100%;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Work Sans';
  &--orenge {
    background: #f06a00;
    &:hover{
      opacity: .75;
      transition: .5s;
    }
  }

}
