// RWD break points

$lg: 1440;
$md: 1200;
$sm: 922;
$xs: 680;

// grid system
.col-12, .row {
  width: grid(1, 1);
}

.col-11 {
  width: grid(11, 12);
}

.col-10 {
  width: grid(10, 12);
}

.col-9 {
  width: grid(9, 12);
}

.col-8 {
  width: grid(8, 12);
}

.col-7 {
  width: grid(7, 12);
}

.col-6 {
  width: grid(6, 12);
}

.col-5 {
  width: grid(5, 12);
}

.col-4 {
  width: calc(100% / 3);
}

.col-3 {
  width: grid(3, 12)
}

.col-2 {
  width: grid(2, 12);
}

.col-1 {
  width: grid(1, 12);
}

@include max($lg) {
  .lg-col-12, .lg-row {
    width: grid(1, 1);
  }
  .lg-col-11 {
    width: grid(11, 12);
  }
  .lg-col-10 {
    width: grid(10, 12);
  }
  .lg-col-9 {
    width: grid(9, 12);
  }
  .lg-col-8 {
    width: grid(8, 12);
  }
  .lg-col-7 {
    width: grid(7, 12);
  }
  .lg-col-6 {
    width: grid(6, 12);
  }
  .lg-col-5 {
    width: grid(5, 12);
  }
  .lg-col-4 {
    width: calc(100% / 3);
  }
  .lg-col-3 {
    width: grid(3, 12)
  }
  .lg-col-2 {
    width: grid(2, 12);
  }
  .lg-col-1 {
    width: grid(1, 12);
  }
}

@include max($md) {
  .md-col-12, .md-row {
    width: grid(1, 1);
  }
  .md-col-11 {
    width: grid(11, 12);
  }
  .md-col-10 {
    width: grid(10, 12);
  }
  .md-col-9 {
    width: grid(9, 12);
  }
  .md-col-8 {
    width: grid(8, 12);
  }
  .md-col-7 {
    width: grid(7, 12);
  }
  .md-col-6 {
    width: grid(6, 12);
  }
  .md-col-5 {
    width: grid(5, 12);
  }
  .md-col-4 {
    width: calc(100% / 3);
  }
  .md-col-3 {
    width: grid(3, 12)
  }
  .md-col-2 {
    width: grid(2, 12);
  }
  .md-col-1 {
    width: grid(1, 12);
  }
}

@include max($sm) {
  .sm-col-12, .sm-row {
    width: grid(1, 1);
  }
  .sm-col-11 {
    width: grid(11, 12);
  }
  .sm-col-10 {
    width: grid(10, 12);
  }
  .sm-col-9 {
    width: grid(9, 12);
  }
  .sm-col-8 {
    width: grid(8, 12);
  }
  .sm-col-7 {
    width: grid(7, 12);
  }
  .sm-col-6 {
    width: grid(6, 12);
  }
  .sm-col-5 {
    width: grid(5, 12);
  }
  .sm-col-4 {
    width: calc(100% / 3);
  }
  .sm-col-3 {
    width: grid(3, 12)
  }
  .sm-col-2 {
    width: grid(2, 12);
  }
  .sm-col-1 {
    width: grid(1, 12);
  }
}

@include max($xs) {
  .xs-col-12, .xs-row {
    width: grid(1, 1);
  }
  .xs-col-11 {
    width: grid(11, 12);
  }
  .xs-col-10 {
    width: grid(10, 12);
  }
  .xs-col-9 {
    width: grid(9, 12);
  }
  .xs-col-8 {
    width: grid(8, 12);
  }
  .xs-col-7 {
    width: grid(7, 12);
  }
  .xs-col-6 {
    width: grid(6, 12);
  }
  .xs-col-5 {
    width: grid(5, 12);
  }
  .xs-col-4 {
    width: calc(100% / 3);
  }
  .xs-col-3 {
    width: grid(3, 12)
  }
  .xs-col-2 {
    width: grid(2, 12);
  }
  .xs-col-1 {
    width: grid(1, 12);
  }
}