#nav-icon {
  width: 35px;
  height: 35px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 950;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: $col-white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#nav-icon {
}

#nav-icon span:nth-child(1) {
  top: 0;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 12px;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 24px;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

#nav-icon.open span {
  background: $dark-blue;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 25px;
  left: 5px;
}

#menu-mobile {
  height: 0;
  overflow: hidden;
  ul {
    //margin-top: 20px;
    li {
      padding: 13px 20px;
      border-bottom: 1px solid $dark-blue;
      &:last-child {
        border-bottom: none;
      }
      a {
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
        color: $dark-blue;
      }
    }
  }
}
