.mobNav {
  //@include overlay($col-black, .8);
  width: grid(1, 1);
  //height: 100vh;
  //position: fixed;
  height: 0;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  text-align: center;
  //position: absolute;
}

.mobNav__wrap {
  //@include overlay($col-black, .85);
  background-color: $col-white;
  //width: grid(1, 1);
  height: 100%;
  //@include flex(wrap, row, center, center);
  width: auto;
  display: inline-block;
  margin: 0 auto;
}

.mobNav__nav {
  width: auto;
  //@include flex(wrap, column, center, center);
  margin: auto;
  font-size: 120%;
  line-height: 140%;
  padding: 20px 30px;
  box-shadow: 0 2px 5px #ccc;
  li {
    color: $col-black;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 280px;
    &:hover, &.active {
      color: $red;
      &:after {
        border: none;
      }
    }
    a {
      padding: 8px 0;
      display: inline-block;
    }
    @include max(680) {
      font-size: 80%;
      line-height: 180%;
      width: grid(1, 1);
    }
  }
}

.mobNav__overlay {
  //@include overlay($col-white, .9);
  background-color: $col-white;
  padding: 8px 5px;
  //@extend .cur-pointer;
  @include scale(.8);
  top: 5px;
}

.nav-icon {
  //top: 40px;
  //top: 0;
  //bottom: 0;
  margin: auto;
  width: 60px;
  height: 45px;
  transform: rotate(0deg) scale(.7);
  cursor: pointer;
  //display: none;
  @include scale(.5);
  /*@include max(480){
    display: block;
  }*/
}

.nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: $red;
  border-radius: 9px;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.nav-icon span:nth-child(1) {
  top: 0;
}

.nav-icon span:nth-child(2), .nav-icon span:nth-child(3) {
  top: 18px;
}

.nav-icon span:nth-child(4) {
  top: 36px;
}

.nav-icon.active span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

.nav-icon.active span:nth-child(2) {
  transform: rotate(45deg);
}

.nav-icon.active span:nth-child(3) {
  transform: rotate(-45deg);
}

.nav-icon:not(.active):hover span {
  background-color: $red;
  //transform: scale(.9);
}

.nav-icon.active span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}

.nav-icon.active {
  //position: fixed;
  //top: 40px;
  //right: 40px;
  //margin: initial;
  opacity: 1;
  span {
    background-color: $col-white;
  }
}
.mobUl {
  li {
    color: $red;
    width: grid(1, 1);
    margin: 0;
    border-bottom: 1px solid $gray;
    a {
      width: grid(1, 1);
      display: block;
      font-weight: 700;
      padding: 10px;
      background-color: transparent;
      @extend .hvr-fade;
    }
  }
}

.mob {
  &--header {
    height: 90px;
    padding: 0 25px;
  }
}