/*.slider {
  & > div:first-of-type {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
}*/

.slider__item {
  & > div:first-of-type {
    width: 100%;
  }
}
.slider__pagination {
  display: flex;
  justify-content: center;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  bottom: 2em;
  &--btn {
    display: block;
    border: 0;
    margin: 0 5px;
    padding: 7.5px;
    width: 1px;
    height: 1px;
    border-radius: 100%;
    background-color: transparent;
    box-shadow: inset 0 0 0 3px $dots;
    @include transition(background-color, .3s ease-out);
    &:hover {
      cursor: pointer;
      background-color: $dots;
    }
    &--active {
      background-color: $dots;
      box-shadow: inset 0 0 0 1px $dots;
    }
  }
}